.main__header {
  padding: 0;
  margin: 40px;
  text-align: center;
  font-weight: bold;
}

.main__header cite {
  font-family: 'Caveat', cursive;
  font-size: 70px;
}

.main__aboutUs {
}

.main__aboutUs h3 {
  font-family: 'Balsamiq Sans', cursive;
  text-align: center;
  font-weight: bold;
}
