nav {
  position: sticky;
  top: 0;
  height: 70px;
}

nav > .nav-wrapper {
  padding: 0 20px;
  /* background-color: rgb(238, 246, 255); */
  background-color: #75593a;
}

nav > .nav-wrapper ul a {
  font-size: 18px;
  color: white;
}

.nav-wrapper .dropdown-trigger {
  width: 110px;
}

.nav-wrapper .collection {
  margin-top: -4px;
  position: absolute;
}

.nav-wrapper .collection a {
  color: #111;
}

nav .brand-logo {
  display: flex;
  justify-content: center;
}

nav .brand-logo span {
  display: block;
  color: #26a6a7;
  font-weight: bold;
  margin-right: 15px;
}

nav .brand-logo img {
  display: block;
  margin-top: 15px;
  width: 40px;
  height: 40px;
}
